@font-face {
    font-family: 'ProstoOne-Regular';
    src: url('ttf/ProstoOne-Regular.ttf') format('truetype'); /* формат TTF */
}

@font-face {
    font-family: 'Play-Regular';
    src: url('ttf/Play-Regular.ttf') format('truetype'); /* формат TTF */
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('ttf/NunitoSans-Regular.ttf') format('truetype'); /* формат TTF */
}

/* Основные стили */

body {
    margin: 0;
    background-color: #151720; /* Устанавливаем основной цвет фона */
    font-family: 'ProstoOne-Regular', sans-serif; /* Устанавливаем шрифт для всего тела страницы */
}

nav {
    background: transparent; /* Прозрачный фон для меню навигации */
    position: fixed;
    width: 90%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Раздвигаем элементы по краям */
    align-items: center;
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'ProstoOne-Regular', sans-serif; /* Используем ваш шрифт */
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.logo img {
    height: 45px; /* adjust as needed */
    margin-left: 120px;
}

.logo span {
    color: white; /* цвет текста */
    font-size: 26px; /* размер шрифта */
    font-weight: bold; /* жирный шрифт */
    margin-left: 10px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Расстояние между пунктами меню */
}

.nav-menu li {
    margin: 0;
    padding: 0;
}

.nav-menu a {
    display: block;
    color: white;
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    transition: transform 0.2s ease; /* Добавляем плавное переходное состояние */
}

.nav-menu a:hover {
    transform: scale(1.1); /* Увеличиваем масштаб при наведении */
}

/* Заголовок */

header {
    text-align: center;
    padding: 199px; /* Отступы сверху и по бокам */
    max-width: 1200px;
    margin-left: -100px; /* Центрируем содержимое */
    box-sizing: border-box; /* Учитываем паддинги в ширине элемента */
}

header h1 {
    font-size: 49px; /* Размер шрифта для заголовка */
    color: white; /* Цвет текста заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    margin-left: -56px; 
    margin-left: -182px;
}

header p {
    font-size: 18px;
    color: #ffffff; /* Цвет текста */
    margin-top: 10px; /* Отступ сверху */
    line-height: 1.5; /* Увеличиваем высоту строки */
    max-width: 700px; /* Максимальная ширина текста */
    margin: 0 auto 40px; /* Центрируем текст и отступ снизу */
    text-align: left;
    margin-left: 39px;
}

/* Кнопка */

.custom-button {
    left: -186px;
    display: inline-block;
    background-color: #5455e5; /* Цвет кнопки */
    color: white; /* Цвет текста */
    padding: 20px 80px; /* Отступы внутри кнопки */
    border-radius: 20px; /* Закругленные края */
    font-size: 18px; /* Размер текста */
    position: relative; /* Позиционирование относительно родительского элемента */
    text-decoration: none; /* Убираем подчеркивание для ссылки */
    transition: transform 0.3s ease; /* Плавное изменение размера */
    z-index: 9999; /* Установите любое значение, чтобы кнопка была поверх всего остального */
    /* Другие стили кнопки */
}

.custom-button:hover {
    transform: scale(1.1); /* Увеличиваем размер при наведении */
}

.button-text {
    position: relative; /* Позиционирование относительно родительского элемента */
    left: -32px; /* Смещение текста вправо */
}

.divider {
    position: absolute; /* Абсолютное позиционирование */
    right: 20%; /* Расположение линии в середине кнопки */
    top: 0; /* Расположение линии в самом верху кнопки */
    width: 1px; /* Ширина линии */
    height: 100%; /* Высота линии (равная высоте кнопки) */
    background-color: white; /* Белый цвет линии */
    transform: translateX(50%); /* Смещение линии вправо на половину её ширины */
}

.arrow {
    position: absolute; /* Абсолютное позиционирование */
    right: 29px; /* Расположение стрелочки справа */
    top: 50%; /* Расположение стрелочки по вертикали посередине кнопки */
    transform: translateY(-50%) rotate(45deg); /* Смещение стрелочки на половину её высоты вверх и поворот на 45 градусов против часовой стрелки */
    border: solid white; /* Белая рамка */
    border-width: 2px 2px 0 0; /* Треугольник, смотрящий направо */
    padding: 5px; /* Отступы внутри стрелочки */
    cursor: pointer; /* Курсор при наведении */
    transition: all 0.3s ease; /* Плавное изменение свойств */
}

/* Картинка */

.container {
    position: fixed;
    bottom: 0px; /* отступ от нижнего края */
    right: 0px; /* отступ от правого края */
    z-index: 1; /* Установите значение меньше, чем у кнопки, чтобы картинка на фоне оказалась позади */
    /* Другие стили для контейнера с картинкой */
}

.container img {
    width: 2000px; /* ширина картинки, укажите подходящее значение */
    height: auto; /* автоматически подстраивает высоту под ширину */
}

/* Медиа-запросы */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 10px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    .custom-button {
        padding: 15px 30px;
    }
    header h1 {
        font-size: 36px;
    }
    header p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .nav-menu {
        gap: 10px;
    }
    .custom-button {
        padding: 10px 20px;
    }
    header h1 {
        font-size: 24px;
    }
    header p {
        font-size: 14px;
    }
}
/*protection*/
img {
    pointer-events: none;
}
